#qpbtn{
    color:#fff;
    background-color:#393d4a;
}
#fsbtn{
    color:#fff;
    background-color:#393d4a;
}
/*#message{*/
/*    background-color: #393d4a;*/
/*}*/
.am-comment-actions, .am-comment-meta {
    font-size: 13px;
    color: #999;
    background-color: #393d4a;
}
/*textarea.smohan_text{*/
/*    background:#a1afc9;*/
/*}*/